/* GLOBAL STYLES*/
/*-------------------------------------------------- */
/*Author : Ricardo Diaz*/

html {
    height: -webkit-fill-available;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto; 
}

.body-section{
    display: flex;
    height: auto;
    min-height: 100vh;
}

.main-index{
    min-height: 100%;
}

.header-clientes{
    margin-bottom: 2rem;
}

.table-container{
    width: 90%;
    margin: 0 auto;
}

.info-section{
    flex: 80%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}

.form-signing{
    max-width: 350px;
    padding: 1rem;
}

.icon-login {
    display: flex;
    justify-content: center;
}

.logo{
    width: 100px;
    height: 100px;
}

.logo-sidebar{
    width: 40px;
    height: 40px;
}

.logo-navbar{
    width: 50px;
    height: 50px;
}

.icon-login-sidebar {
    font-size: 2rem;
    color: #007bff;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.icon-login-card {
    display: flex;
    justify-content: center;
}

.w-280{
    width: 280px;
    min-height: 100%;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

.drop-right{
    margin-right: 15px;
    margin-top: 3px;
}

.only-mobile{
    display: none !important;
}

.only-desktop{
    display: block !important; 
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 25rem;
}

.number-index-card{
    font-size: 4rem;
}

.top-card{
    height: 160px;
    min-height: 160px;
}

.medium-card{
    height: 100%;
    min-height: 250x;
}

.bottom-card{
    height: 160px;
    min-height: 160px;
}

.card-item{
    width: 110px;
    min-width: 110px;
}

.card-item-large{
    width: 150px;
    min-width: 150px;
}

.card-data-detail{
    font-size: 1.5rem;
}

.card-data-detail-small{
    font-size: .9rem;
}

.ul-sin-left{
    padding-left: 15px;
}

.footer{
    width: 100%;
    background-color: #B6D7FF;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
    .body-section{
        display: flex;
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }

    .info-section{
        flex: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: auto;
    }

    .only-mobile{
        display: block !important;
    }

    .only-desktop{
        display: none !important;
    }

}


